@import '../../shared/styles/settings.scss';

$gap: 16px;

.rl-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;

  input.rl {
    flex: 1 0 auto;
  }

  &.rl-align-right {
    text-align: right;
    input.rl {
      text-align: right;
    }
    .rl-placeholder-label {
      right: 0;
      left: auto;
    }
  }

  @keyframes leaving {
    from { transform: translateY(-50%); }
    to { transform: translateY(-350%); }
  }

  @keyframes entering {
    from { transform: translateY(300%); }
    to { transform: translateY(-50%); }
  }

  .rl-placeholder-label {
    &.rl-enter {
      animation-name: entering;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
    &.rl-leave {
      animation-name: leaving;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }

  .rl-placeholder-label {
    line-height: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.5;
    position: absolute;
    pointer-events: none;
    white-space: nowrap;
    width: 100%;
    top: calc(50% - 1px);
    left: 0;
    transform: translateY(-50%) scaleY(1);
    transform-origin: left;
    transition: opacity 0.18s ease-out;
  }

  input.rl:focus ~ .rl-placeholder-label {
    opacity: 0 !important;
  }
}
