@import "../../shared/styles/colors.scss";

#main-page {
  color: $clr-white;
  background: linear-gradient(185deg, transparentize(darken($clr-scnd, 32), 0.40), darken($clr-scnd, 48) 80%);
  .logo {
    width: 13em;
  }
  h1 {
    margin-bottom: 60px;
    font-size: 1.2em;
    color: $clr-prim;
  }
  h2 {
    margin-top: 60px;
    margin-bottom: 20px;
    color: $clr-gray;
    font-size: 1.2em;
    max-width: 350px;
    text-align: center;
    line-height: 1.5;
  }
  .subscribe {
    font-size: 1.1em;
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../assets/img/wp.jpg');
    background-size: cover;
    z-index: -2;
    height: 100vh;
    width: 100vw;
  }
}
