// As hex codes */

@import "../../node_modules/normalize.css/normalize.css";

$color-primary-0: #F1880C;	// Main Primary color */
$color-primary-1: #FFD39F;
$color-primary-2: #FFB154;
$color-primary-3: #A85B00;
$color-primary-4: #5D3200;

$color-secondary-1-0: #F1E80C;	// Main Secondary color (1) */
$color-secondary-1-1: #FFFB9F;
$color-secondary-1-2: #FFF954;
$color-secondary-1-3: #A8A200;
$color-secondary-1-4: #5D5900;

$color-secondary-2-0: #6212A2;	// Main Secondary color (2) */
$color-secondary-2-1: #B58BD7;
$color-secondary-2-2: #7D41AE;
$color-secondary-2-3: #420771;
$color-secondary-2-4: #23023E;

$color-complement-0: #0F6999;	// Main Complement color */
$color-complement-1: #87B8D2;
$color-complement-2: #3C80A5;
$color-complement-3: #05476B;
$color-complement-4: #01273B;

@mixin placeholderColor($color) {
  &::-webkit-input-placeholder {
     color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
     color: $color;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
     color: $color;
  }
  &:-ms-input-placeholder {
     color: $color;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.fullsize {
    height: 100vh;
  }
  &.space-around {
    justify-content: space-around;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
