@import "../assets/styles/colors.scss";

@mixin placeholderColor($color) {
  &::-webkit-input-placeholder {
     color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
     color: $color;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
     color: $color;
  }
  &:-ms-input-placeholder {
     color: $color;
  }
}

@mixin buttonStyle($text, $background) {
  $deactivatedColor: desaturate(lighten($text, 50), 50);
  $activeBackgroundColor: darken($text, 10);
  font-size: 1.2em;
  padding: 0.25em 0.8em 0.25em 0.8em;
  background-color: transparent;
  border-radius: 1.2em;
  color: $text;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  border: 2px solid $text;
  &:disabled {
    color: $background;
    border-color: $deactivatedColor;
    background-color: $deactivatedColor;
    cursor: not-allowed;
  }
  &:not(:disabled){
    &:hover {
      color: $background;
      background-color: $text;
      transition: background-color 0.1s, color 0.1s;
    }
    &:active {
      color: $background;
      background-color: $activeBackgroundColor;
      box-sizing: border-box;
      transition: background-color 0.1s, color 0.1s;
    }
  }
}

.vj-inner-content h1 {
  margin: 0;
  text-align: center;
}

.questions {
  margin-top: 15px;
  margin-bottom: 1em;
}

.form {
    background-color: lighten($clr-prim, 5);
    border-top: 2px solid $clr-scnd;
    border-bottom: 2px solid $clr-scnd;
    font-size: 1.1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 5px;
    display: flex;
    flex-direction: column;

    input {
      @include placeholderColor($clr-white);
      font-family: 'Open Sans', sans-serif;
      font-size: 1em;
      border: none;
      outline: none;
      background-color: transparent;
    }

    button {
      @include buttonStyle($clr-white, $clr-prim);
    }

    @mixin errorLabel() {
      .error-label {
        font-size: 0.8em;
        text-align: center;
        overflow: hidden;
        &.has-error {
          color: darken(red, 10);
        }
      }
    }

    .control-input-group {
      .input-wrapper {
        display: flex;
        align-items: baseline;
        input {
          width: 50%;
          color: $clr-white;
          transition: background-color 0.2s, color 0.2s;
          background-color: transparent;
        }
        label {
          text-align: right;
          width: 50%;
        }
      }
      @include errorLabel();
      margin-bottom: 0.5em;
    }
    .controls-group {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      @include errorLabel();
      .check-box {
        margin-top: 0.5em;
        input[type="checkbox"] {
          display: none;
        }
        i {
          color: $clr-white;
        }
      }
      .error-label {
        margin-left: 1.5em;
        margin-top: 0em;
      }
    }
  }
