@import "../assets/styles/colors.scss";
@import "../assets/styles/parameters.scss";

.vj-menu {
  margin-top: 15px;
  margin-bottom: 8px;
  &.centered {
    text-align: center;
  }
}

form, .form {
  margin: auto;
  padding: 15px;

  .input-wrapper {
    display: flex;
    align-items: baseline;
    font-size: $font-size;
  }

  .control-group {
    & + .control-group {
      margin-top: 10px;
    }
    &.centered {
      text-align: center;
    }
    .error-label {
      font-size: $font-size-smaller;
      color: $clr-error-back;
      text-align: left;
    }
  }

  &.inline {
    .control-wrapper {
      width: 100%;
      .input-wrapper {
        width: 100%;
        input {
          flex-grow: 1;
        }
        label {
          text-align: right;
        }
      }
    }
  }
}

#vj-index-content {
  form, .form {
    max-width: 600px;
    font-size: $font-size-large;
  }
  input {
    border-bottom: 0.1em solid $clr-black;
  }
}

@media screen and (max-width: 35.5em) {
  #vj-index-content {
    form, .form {
      font-size: $font-size;
    }
  }
}

@media screen and (max-width: 20em) {
  #vj-index-content {
    form, .form {
      font-size: $font-size-smaller * 1.15;
      padding: 5px;
    }
  }
}
