@import "../assets/styles/colors.scss";

$gap: 10px;

#vj-more-info {
  width: 100%;
  .vj-more-info {
    margin-top: 15px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
.vj-timing {
  width: 100%;
  font-size: 1.6em;
  line-height: 1em;
}
.vj-big-1 {
  font-size: 1.5em;
}
.vj-big-2 {
  font-size: 1.6em;
}
.vj-huge {
  font-size: 4em;
  line-height: 1em;
}
.vj-center {
  text-align: center;
}
.vj-align-right {
  text-align: right;
}
.vj-small {
  font-size: 0.78em;
}
.vj-more {
  padding-top: 12px;
}
.vj-info-block {
  width: 100%;
  display: flex;
  border: 0.2em solid $clr-scnd;
  flex-direction: column;
  padding: 1.85*$gap;
  h1, h2, p {
    margin: 0;
    padding: 0;
  }
  p+p {
    margin-top: 10px;
  }
  .vj-block-body {
    line-height: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.3em;
    flex: 1 0 auto;
  }
  .vj-block-heading {
    h1 {
      font-size: 2em;
      text-align: center;
    }
    flex: 0 0 auto;
    margin-bottom: $gap;
  }
  .vj-block-footer {
    flex: 0 0 auto;
    @extend .vj-small;
    @extend .vj-center;
    margin-top: 10px;
  }
}

@media screen and (max-width: 64em) {
  #vj-more-info {
    .vj-more-info {
      max-width: none;
      padding: 0;
      margin: 0;
    }
    div[class*="grid"] {
      padding: 0;
      margin: 0;
    }
    .col {
      padding: 0;
      margin: 0;
      .vj-info-block {
        border-left: 0;
        border-right: 0;
      }
    }
    .col:not(:last-child) {
      .vj-info-block {
        border-bottom: 0;
      }
    }
  }
}
