@import "./colors.scss";

$border-thickness: 1px;
$font-color: $clr-white;

$controls-background-color: transparentize(black, 0.4);
$controls-border-color: darken($clr-scnd, 35);
$controls-hover-color: darken($clr-scnd, 30);
$controls-font-color: $clr-white;
