$primaryOrange: #F1880C;
$secondaryBlue: #B9D6E7;
$secondaryYellow: #FFD618;
$secondaryOrange: #EB5B1D;


#iknow {

  .name,.activity {

    &.cache {
      transform: translateY(8px);
      opacity: 0;
    }

    &.hide.out {
      transform: translateY(-8px);
      opacity: 0;
      transition: transform 1s, opacity 1s;
    }

    &.hide.in {
      transform: translateY(0px);
      opacity: 1;
      transition: transform 1s, opacity 1s;
    }
  }
}

body {
  background-color: $primaryOrange;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
}

a {
  color: white;
  transition: color 0.1s linear;
  &:hover {
    color: lighten($secondaryYellow, 15);
    transition: color 0.1s linear;
  }
}

button.vj-btn {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  background-color: darken(white, 5);
  color: darken($primaryOrange, 5);
  border-radius: 0;
  border: none;
  outline: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.fullsize {
    height: 100vh;
  }
  &.space-around {
    justify-content: space-around;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
