@import "../shared/config.scss";

#intro-page.section {
  background-color: $color-primary-0;
  font-weight: 300;
  color: white;

  p.explain {
    text-align: center;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  input {
    background-color: $color-primary-1;
    color: black;
  }

  a {
    color: white;
    font-size: 1.5em;
    transform: scale(1);
    margin-top: 1.5em;
    margin-bottom: 0.4em;
    transition: color 0.1s linear, transform 0.1s ease-in;

    &:hover {
      color: lighten($color-complement-0, 60);
      transition: color 0.1s linear, transform 0.1s ease-in;
      transform: scale(1.04);
    }
  }
}
