$logoScale: 0.5;

.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

img.logo {
  width: (300 * $logoScale / 350) * 350px;
  height: (300 * $logoScale / 350) * 180px;
}
