@import "../assets/styles/colors.scss";

@mixin out($dir: 1) {
  &.out {
    transform: translateY($dir * 50%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
}
@mixin in() {
  &.in {
    transform: translateY(0%);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
  }
}

#tag-line {
  flex: 1;
  overflow: hidden;
  color: $clr-white;
  font-size: 1.12em;
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .before {
    font-weight: 400;
    @include out(-1);
    @include in();
  }
  .after {
    font-weight: 400;
    @include out(-1);
    @include in();
  }
  .verb {
    font-weight: bold;
  }
}
