@import "./settings.scss";

::-webkit-input-placeholder { /* Chrome */
  color: $font-color;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $font-color;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $font-color;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $font-color;
}

button {
  &:focus {
    background-color: $controls-background-color;
  }
  &:hover {
    background-color: $controls-hover-color;
  }
  &:active {
    background-color: $controls-border-color;
  }
}
