@import "./settings.scss";

::-webkit-input-placeholder { /* Chrome */
  color: $font-color;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $font-color;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $font-color;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $font-color;
}

input, button {
  outline: none;
  color: $font-color;
  background-color: $background-color;
  border: 1px solid $border-color;
  box-sizing: border-box;
  min-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.5em;
}

button {
  &:hover {
    background-color: $clr-scnd;
  }
  &:active {
    background-color: darken($clr-scnd, 25);
  }
}

.inline {
  display: flex;
  justify-content: center;
  align-items: center;
  input, button {
    &:last-child {
      border-left: none;
      border-radius: 0px $border-radius $border-radius 0px;
    }
    &:first-child {
      border-left: $border-thickness solid $border-color;
      border-radius: $border-radius 0px 0px $border-radius;
    }
    border-left: none;
  }
}
