$primaryOrange: #F1880C;
$secondaryBlue: #B9D6E7;
$secondaryYellow: #FFD618;
$secondaryOrange: #EB5B1D;

@import "../node_modules/normalize.css/normalize.css";

//font-family: 'Raleway', sans-serif;

body {
  background-color: $primaryOrange;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

#main-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
