// Basis

$clr-white: #F7F9FB;
$clr-black: #2E2D2C;
//$clr-prim: #FF8E12;
$clr-prim: #F1880C;
$clr-prim-darker: #EB5B1D;
$clr-scnd: #366DB4;
$clr-scnd-darker: #004C99;
$clr-tern: #FFD618;
$clr-tern-darker: #F3BC00;

// Derived colors

$clr-gray-dark: lighten($clr-black, 13);
$clr-gray-light: lighten($clr-black, 47);

$clr-prim-darkest: darken($clr-prim-darker, 17);
$clr-scnd-darkest: darken($clr-scnd-darker, 17);
$clr-tern-darkest: darken($clr-tern-darker, 17);

$clr-prim-lighter: lighten($clr-prim, 17);
$clr-scnd-lighter: lighten($clr-scnd, 17);
$clr-tern-lighter: lighten($clr-tern, 17);

$clr-prim-lightest: lighten($clr-prim, 29);
$clr-scnd-lightest: lighten($clr-scnd, 29);
$clr-tern-lightest: lighten($clr-tern, 29);

// Semantics

$clr-font-main: $clr-black;
$clr-font-alt: $clr-white;

$clr-back-main: $clr-white;
$clr-back-alt: $clr-prim;

$clr-error-back: lighten(red, 17);
$clr-error-front: $clr-white;

$clr-success-back: desaturate(lighten(green, 17), 62);
$clr-success-front: $clr-white;

$backmain: lighten(yellow, 47);
