$clr-white: #F7F9FB;
$clr-black: #2E2D2C;

$clr-prim: #F1880C;
$clr-prid-lighter: lighten($clr-prim, 25);
$clr-prim-darker: #EB5B1D;

$clr-scnd: #366DB4;
$clr-scnd-lighter: lighten($clr-scnd, 25);
$clr-scnd-darker: #004C99;

$clr-tern: #FFD618;
$clr-terd-lighter: lighten($clr-tern, 25);
$clr-tern-darker: #F3BC00;
