@import "~normalize.css/normalize.css";

@import "../assets/styles/colors.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600");

body {
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
//   overflow-x: hidden;
  color: $clr-font-main;
  background-color: white;
}

// a {
//   text-decoration: underline;
//   transition: color 0.1s;
//   &:hover {
//     transition: color 0.1s;
//   }
// }
//

header {
  flex: none;
  padding: 0.2em;
  margin-bottom: 1em;
  color: $clr-font-alt;
  background-color: $clr-back-alt;
}

footer {
  text-align: center;
  padding-bottom: 2em;
  padding-top: 0.5em;
  font-size: 0.74em;
  background-color: $clr-gray-light;
}

#vj-content {
  flex: 1 0 auto;
}

#vj-site {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
