@import "~normalize.css/normalize.css";

@import "../assets/styles/colors.scss";
@import "../assets/styles/parameters.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600");

.logo-wrapper {
  margin: 8px;
  margin-left: 15px;
}

.vj-inner-page {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 716px) {
  .vj-inner-page {
    max-width: none;
    margin-left: 8px;
    margin-right: 8px;
  }
}

img.logo {
  width: (300 * $logoScale / 350) * 350px;
  height: (300 * $logoScale / 350) * 180px;
}

body {
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  color: $clr-font-main;
  background-color: $backmain;
}

a {
  color: $clr-scnd;
  &:hover {
    color: $clr-scnd-darker;
  }
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  color: $clr-black;
  border-bottom: 0.1em solid $clr-scnd;
}

input[type="checkbox"] {
  display: none;
}

header {
  background-color: $clr-prim;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  #tag-line {
    h1 {
      color: $clr-font-alt;
    }
  }
}

ul.vj-list {
  list-style: disc;
  li {
    margin-bottom: 14px;
    padding-bottom: 14px;
  }
  li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

button {
  outline: none;
  border: none;
  background-color: $clr-scnd;
  color: $clr-white;
  padding: 10px;
  &.expand {
    width: 100%;
  }
}

.vj-page-title {
  background-color: $clr-scnd;
  color: $clr-white;
  padding: 32px 4px 32px 4px;
  margin: 0;
  text-align: center;
  h1 {
    font-size: $font-size-larger * 1.25;
    margin: 0;
    padding: 0px 4px 8px 4px;
  }
  p {
    font-size: $font-size-large * 1.25;
    margin: 0;
    padding: 0px 4px 0px 4px;
  }
  @media screen and (max-width: 35.5em) {
    h1 {
      font-size: $font-size-large * 1.25;
    }
    p {
      font-size: $font-size * 1.25;
    }
  }
}

#tag-line {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 1em;
  @mixin anim-tr($name, $tr, $dir, $opa) {
    &.#{$name} {
      @if ($tr == 'Y') {
        transform: translateY(0 + ($dir * 50%));
      }
      @if ($tr == 'X') {
        transform: translateX(0 + ($dir * 50%));
      }
      opacity: $opa;
      transition: transform 0.5s, opacity 0.5s;
    }
  }
  .before {
    @include anim-tr(in, 'Y', 0, 1);
    @include anim-tr(out, 'Y', 0, 0);
  }
  .after {
    @include anim-tr(in, 'Y', 0, 1);
    @include anim-tr(out, 'Y', 0, 0);
  }
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

footer {
  text-align: center;
  flex: 0 0 auto;
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: $font-size-small;
  border-top: 2px solid $clr-prim-darker;
  color: $backmain;
  background-color: $clr-prim;
}

#vj-content {
  flex: 1 0 auto;
}

#vj-site {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#tag-line h1 {
  font-size: 3.5vw;
}

@media screen and (min-width: 48em) {
  #tag-line h1 {
    font-size: (3.5*48/100)em;
  }
}

@media screen and (max-width: 35.5em) {
  header {
    display: block;
    text-align: center;
  }
  footer {
    font-size: $font-size-smallest;
  }
  #tag-line {
    justify-content: center;
    margin-right: 0;
    margin-bottom: $font-size-smaller;
    h1 {
      font-size: 4.5vmin;
    }
  }
}
