@import "~normalize.css/normalize.css";

@import "../assets/styles/colors.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600");

$backmain: lighten(yellow, 47);

$logoScale: 0.45;

.logo-wrapper {
  margin: 8px;//
  margin: 8px;//
  margin-left: 50px;
}

img.logo {
  width: (300 * $logoScale / 350) * 350px;
  height: (300 * $logoScale / 350) * 180px;
}

body {
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
//   overflow-x: hidden;
  color: $clr-font-main;
  background-color: $backmain;
}

// a {
//   text-decoration: underline;
//   transition: color 0.1s;
//   &:hover {
//     transition: color 0.1s;
//   }
// }
//

header {
  display: flex;
  align-items: center;
  padding: 0.2em;
  margin-bottom: 1em;
  color: $clr-font-main;
  color: $clr-font-alt;
  //background-color: $backmain;
  border-bottom: 2px solid $clr-prim-darker;
  background-color: $clr-back-alt;
  //border-bottom: 2px solid $clr-prim;
}

footer {
  text-align: center;
  padding-bottom: 2em;
  padding-top: 0.5em;
  font-size: 0.74em;
  border-top: 2px solid $clr-prim-darker;
  color: $backmain;
  //color: $clr-prim-darker;
  background-color: $clr-prim;
  //background-color: $backmain;
  //background-color: $clr-gray-light;
}

#vj-content {
  flex: 1 0 auto;
}

#vj-site {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
